.home-page {
  /* Set background properties */
  background-image: url("../../utils/images/bg/hero-bg.jpg"); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  /* width: f; */

  /* Other styles like background position, repeat, etc., can be added as needed */
}
